body{
    margin: 0;
    font-family: sans-serif;
    min-width: 400px;
}
.titulo_clasificatoria{
    text-align: center;
    color: #000000;
}
.menu ul{
    background: rgba(51, 255, 143, 0.877);
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    justify-content: center;
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: #000000;
    text-decoration: rgb(255, 255, 255);
    margin: 0; 
}
.menu li:hover{
    background: rgba(37, 165, 95, 0.87);
}
@media (min-width : 960px){
    .logo{
        position:fixed;
        width: 5,5cm;
        height: 5cm;
    }
}
@media (max-width : 1000px){
    .logo{
        width: 3cm;
        height: 3cm;
        position: relative;
    }
    #divlogo{
        text-align: center;
    }
}
@media (min-width: 500px){
    .menu ul{
        display: flex;
    }
}

@media (max-width: 500px){
    .menu ul{
        display: block;
    }
}