body{
    margin: 0;
    font-family: sans-serif;
}
header label{
    width: 30px;
    height: 30px;
    display: none;
    padding: 10px;
    border-right: 1px solid #fff;
}

#btn-menu {
    display: none;
}
header{
    
    width: 100%;
    background: rgba(51, 255, 143, 0.877);
}

.titulo {
    color = blue;
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}
.menu li a{
    display: block;
    padding: 15px 20px;
    color: #000000;
    text-decoration: rgb(255, 255, 255)
}
.logo{
    position: fixed;
    width: 5cm;
    height: 5cm;
    text-align: center;
}

h1{
    color: rgb(25, 0, 255);
    text-align: center;
}
form{
    color: rgb(25, 0, 255);
    text-align: center;
}
.Formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba (0,0,0,0.3);
    position: relative;
}
.Formulario__Titulo{
    text-align: center;
    margin-top: 0;
    color:rgb(25, 0, 255);
}
    
