body{
    margin: 0;
    font-family: sans-serif;
    min-width: 400px;
}
header label{
    width: 30px;
    height: 30px;
    display: none;
    padding: 10px;
    border-right: 1px solid #fff;
}

#btn-menu {
    display: none;
}

header{
    width: 100%;
}

.Titulo{
    text-align: center;
}
.Campeonato{
    text-align: center;
}

.menu ul{
    background: rgba(51, 255, 143, 0.877);
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
    justify-content: center;
}
@media (min-width : 960px){
    .logo{
        position:fixed;
        width: 5cm;
        height: 5cm;
    }
}
@media (max-width : 960px){
    .logo{
        width: 3cm;
        height: 3cm;
        position: relative;
    }
    #divlogo{
        text-align: center;
    }
}
@media (min-width: 500px){
    .menu ul{
        display: flex;
    }
}

@media (max-width: 500px){
    .menu ul{
        display: block;
    }
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: #000000;
    text-decoration: rgb(255, 255, 255)
}

.menu li:hover{
    background: rgba(37, 165, 95, 0.87);
}

.logo{
    text-align: center;
    top:50px;

}

#form1{
    text-align: right;
}
#form2{
    text-align: center;
    margin:auto;
    border: 2px;


}

.Formulario__Titulo{
    text-align: center;
    margin-top: 0;
}
    
#formContainer{
    width: 328px;
    border: 1px solid #afadad;
    box-shadow: 8px 10px 20px #CCC;
    margin: auto;
    border-radius: 15px;
    padding-top: 16px;
    padding-right: 10px;
}
#divcampeonato{
    text-align: right;
    border: 1px solid #afadad;
    width: 400px;
    box-shadow: 8px 10px 20px #ccc;
    margin: auto;
    border-radius: 15px;
    padding-top: 16px;
    padding-right: 10px;
}
.campeonato_de{
    text-align: left;
    padding: 0;
}